# Dependency directories
node_modules/

# Logs and debugging files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

#lock files
yarn.lock
pnpm-lock.yaml

# Environment files
.env

# IDE and editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency files
*.d.ts
*.map

# Build output
build/
dist/
out/

# Logs from npm
npm-debug.log*

# Yarn
yarn-error.log*

# Npm
package-lock.json

# Misc
.DS_Store
